kind: Pod
apiVersion: v1
metadata:
  name: zeppelin-server
  labels:
    app: zeppelin-server
spec:
  automountServiceAccountToken: true
  serviceAccount: zeppelin-server
  containers:
  - name: zeppelin-server
    image: seedjeffwan/zeppelin:0.9.0-SNAPSHOT
    command: ["sh", "-c", "$(ZEPPELIN_HOME)/bin/zeppelin.sh"]
    lifecycle:
      preStop:
        exec:
          # SIGTERM triggers a quick exit; gracefully terminate instead
          command: ["sh", "-c", "ps -ef | grep org.apache.zeppelin.server.ZeppelinServer | grep -v grep | awk '{print $2}' | xargs kill"]
    env:
    - name: ZEPPELIN_K8S_CONTAINER_IMAGE
      value: seedjeffwan/zeppelin:0.9.0-SNAPSHOT
    - name: ZEPPELIN_HOME
      value: /zeppelin
    - name: ZEPPELIN_SERVER_RPC_PORTRANGE
      value: 12320:12320
    - name: POD_UID
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: metadata.uid
    - name: POD_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: metadata.name
    - name: ZEPPELIN_K8S_SPARK_CONTAINER_IMAGE
      valueFrom:
        configMapKeyRef:
          name: zeppelin-server-conf
          key: sparkContainerImage
    - name: SERVICE_DOMAIN
      valueFrom:
        configMapKeyRef:
          name: zeppelin-server-conf
          key: serviceDomain
    - name: MASTER   # default value of master property for spark interpreter.
      value: k8s://https://kubernetes.default.svc
    # volumeMounts:
    #  - name: zeppelin-server-notebook-volume     # configure this to persist notebook
    #    mountPath: /zeppelin/notebook
    #  - name: zeppelin-server-conf                # configure this to persist Zeppelin configuration
    #    mountPath: /zeppelin/conf
    #  - name: zeppelin-server-custom-k8s          # configure this to mount customized Kubernetes spec for interpreter
    #    mountPath: /zeppelin/k8s
  - name: zeppelin-server-gateway
    image: nginx:1.14.0
    command: ["/bin/sh", "-c"]
    args:
      - cp -f /tmp/conf/nginx.conf /etc/nginx/nginx.conf;
        sed -i -e "s/SERVICE_DOMAIN/$(cat /tmp/conf/serviceDomain)/g" /etc/nginx/nginx.conf;
        sed -i -e "s/NAMESPACE/$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace)/g" /etc/nginx/nginx.conf;
        cat /etc/nginx/nginx.conf;
        /usr/sbin/nginx
    volumeMounts:
      - name: zeppelin-server-conf-volume
        mountPath: /tmp/conf
    lifecycle:
      preStop:
        exec:
          # SIGTERM triggers a quick exit; gracefully terminate instead
          command: ["/usr/sbin/nginx", "-s", "quit"]
  - name: dnsmasq  # nginx requires dns resolver for dynamic dns resolution
    image: "janeczku/go-dnsmasq:release-1.0.5"
    args:
      - --listen
      - "127.0.0.1:53"
      - --default-resolver
      - --append-search-domains
      - --hostsfile=/etc/hosts
      - --verbose
  volumes:
  - name: zeppelin-server-conf-volume
    configMap:
      name: zeppelin-server-conf
      items:
      - key: nginx.conf
        path: nginx.conf
      - key: serviceDomain
        path: serviceDomain